<!DOCTYPE html>
<html>
<head>
  <title>SmartHome</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap-responsive" %>
  <%= javascript_include_tag "application", "jquery-2.0.2.min", "highcharts" %>
  <%= csrf_meta_tags %>
</head>
<body data-target=".bs-docs-sidebar" data-spy="scroll" data-twttr-rendered="true">

<%= render 'sessions/login_header' %>

<div>
  <% if flash[:alert] %>
      <div>
        <ul>
          <li><%= flash[:alert].html_safe %></li>
        </ul>
      </div>
  <% elsif flash[:notice] %>
      <div>
        <ul>
          <li><%= flash[:notice].html_safe %></li>
        </ul>
      </div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
