<!DOCTYPE html>
<html>
<head>
  <title>SmartHome</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", "jquery-2.0.2.min" %>
  <%= javascript_include_tag "http://code.highcharts.com/highcharts.js" %>
  <%= javascript_include_tag "http://code.highcharts.com/highcharts-more.js" %>
  <%= javascript_include_tag "http://code.highcharts.com/modules/exporting.js" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body data-target=".bs-docs-sidebar" data-spy="scroll" data-twttr-rendered="true">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="#"><i class="icon-home"></i> Our SmartHome</a>

      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="#sys-temp-section">
            System Temperature
          </a></li>
          <li><a href="#sys-res-section">
            System Resources
          </a></li>
          <li><a href="#key-proc-section">
            Key Processes
          </a></li>
          <li><a href="#down-status-section">
            Downloading Status
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render 'sessions/login_header' %>

<div>
  <% if flash[:alert] %>
      <div>
        <ul>
          <li><%= flash[:alert].html_safe %></li>
        </ul>
      </div>
  <% elsif flash[:notice] %>
      <div>
        <ul>
          <li><%= flash[:notice].html_safe %></li>
        </ul>
      </div>
  <% end %>
</div>

<div class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
